@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
body{
    text-align: center;
    font-family: 'Aboreto', cursive;
    background-color: #21295c;
    color: #8b5e34;
    font-size: 25px;
    font-weight: bold;
}
.container{
    max-width: 400px;
    margin: auto;
    border:2px solid #8b5e34;
    border-radius: 0.5rem;
    padding: 1rem;
}
input{
    margin: 20px 20px;
    padding: 0.5rem 1rem;
    border: 2px solid #8b5e34;
    background: transparent;
    border-radius: 0.5rem;
    color: #8b5e34;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: 20px;
    padding: 0rem 4rem;
}
.calculate{
    text-align: center;
    padding: 1rem 1rem;
    background: transparent;
    border: 2px solid #8b5e34;
    border-radius: 0.5rem;
    color: #8b5e34;
    font-size: 15px;
    margin: 10px 60px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Aboreto', cursive;
}
.calculate:hover{
    background-color: #8b5e34;
    color: #001f54;
    font-weight: bold;
    
}
input:focus{
    outline: none;
    background-color: #8b5e34;
    color: #001f54;
    font-size: 15px;
    font-weight: bold;
}
.output{
    padding: 1rem 1rem;
    font-size: 20px;
    font-weight: bold;
}
.footer-insider{
    text-align: center;
    font-weight: bold;
    /* margin: 0px 600px; */
    margin: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}
.link{
    margin: 10px 10px;
    border-radius: 10rem;
}
.social{
    text-align: center;
    font-size: 17px;
}
a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 70px;
    border: 2px solid #8b5e34;
    text-align: center;
    padding: 1rem 1rem;
    color: #6f4518;
    border-radius: 0.5rem;
    max-width: 300px;
    font-weight: bold;
 }
 a:hover{
     background-color: #8b5e34;
     color: #001f54;
     font-weight: bold;
 }
 .home{
    margin: 0px 1250px;
    font-size: 17px;
 }