@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
body{
    background: url("/images/background.jpg");
    background-size: 1367px 680px;
    background-repeat: no-repeat;
    color: #8b5e34;
    font-family: 'Aboreto', cursive;
    margin: 0px 30px;
    /* max-width: 1000px; */
    background-attachment: fixed;
    text-align: center;
}

h1{
    background-image: linear-gradient(to right,#bc8a5f, #a47148, #8b5e34, #6f4518);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 1rem 2rem;
    margin-left: 0px;
    text-align: center;
}
.form{
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.quiz-container{
    padding: 1rem 1rem;
    margin: 10px 10px;
    font-size: 20px;
    color: #001f54;
    font-weight: bold;
    background-color: #8b5e34;
    border: 2px solid #8b5e34;
    border-radius: 0.5rem;
}
label{
    border: 2px solid #001f54;
    border-radius: 0.5rem;
    margin: auto 5px;
    padding: 0rem 0.2rem;
}
label:hover{
    background-color: #001f54;
    color: #8b5e34;
    
}
input[type='radio']:checked{
    background-color: #001f54;
    color: #8b5e34;
    
}
input[type='radio']:hover{
    accent-color: #8b5e34;
}

input[type='radio']{
    accent-color: #001f54;
}
.submit-btn{
    text-align: center;
    padding: 1rem 1rem;
    background: transparent;
    border: 2px solid #8b5e34;
    border-radius: 0.5rem;
    color: #8b5e34;
    font-size: 15px;
    margin: 10px 60px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Aboreto', cursive;
}
.submit-btn:hover{
    background-color: #8b5e34;
    color: #001f54;
    font-weight: bold;
}
.output{
    padding: 0rem 1rem;
    text-align: center;
}
.footer-insider{
    text-align: center;
    font-weight: bold;
    /* margin: 0px 600px; */
    margin: 30px;
    margin-bottom: 10px;
}
.link{
    margin: 10px 10px;
    border-radius: 10rem;
}
.social{
    text-align: center;
}
a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 70px;
    border: 2px solid #8b5e34;
    text-align: center;
    padding: 1rem 1rem;
    color: #6f4518;
    border-radius: 0.5rem;
    max-width: 300px;
    font-weight: bold;
 }
 a:hover{
     background-color: #8b5e34;
     color: #001f54;
     font-weight: bold;
 }
 .home{
    margin: 0px 1250px;
    font-size: 17px;
 }